{% extends "_base.html" %}

{% block content %}
      <div class="box">
  			<h1>sign up</h1>
  			<form action="" method="post">

    			<input type="text" class="form-control input-lg" name="username" id="username" placeholder="Username" required/>
    			<br>
    			<input type="password" class="form-control input-lg" name="password" id="password" placeholder="Password" required/>
    			<br>
    			<input type="submit" class="btn btn-primary btn-lg btn-block" class="button" value="signup"/>
  			</form>
		</div>
{% endblock %}
